html, body {
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.movie {
    position:absolute;
    top:0;
    left:0;
    right:50%;
    bottom:50%;

}

.mars {
    position:absolute;
    top:0;
    left:50%;
    right:0;
    bottom:50%;
}

.fan {
    position:absolute;
    top:50%;
    left:0;
    right:50%;
    bottom:0;
}

.bucket {
    position:absolute;
    top:50%;
    left:50%;
    right:0;
    bottom:0;
}