<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="나만의 웹사이트"/>
    <meta property="og:description" content="웹개발 종합반 강의동안 만든 웹사이트를 한 곳에 모아보았습니다."/>
    <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/blog.spartacodingclub.kr/1655106626116-nb_og%20image.jpg"/>

    <title>홈페이지</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<section>
    <div class="movie">
        <a href="movies">
            <img src="/static/image/movie.PNG" alt="">
        </a>
    </div>
    <div class="mars">

        <a href="marsPurchase">
            <img src="/static/image/mars.PNG" alt="">
        </a>
    </div>
    <div class="fan">
        <a href="fanList">
            <img src="/static/image/fan.PNG" alt="">
        </a>
    </div>
    <div class="bucket">
        <a href="bucketList">
            <img src="/static/image/bucket.PNG" alt="">
        </a>
    </div>
</section>
</body>
</html>